@import url("https://fonts.googleapis.com/css?family=PT+Serif|Roboto|Open+Sans");

@media (max-width: 200px) {
    /*mobile optimisation to go here*/
}

:root {
    line-height: 1.2em;
    color: #070700;
    background: #fdfdfd;
}

svg {
    width: 18px;
    height: 18px;
}

.icon-hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(61%) saturate(297%) hue-rotate(168deg) brightness(94%) contrast(93%);;
}

.wrapper {
    margin: auto;
    max-width: 950px;
}

.header {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navlink {
    cursor: pointer;
}

.navlink:hover {
    color: grey;
}

.navlink {
    margin: 0px 5px 0px 5px;
}

.app-view {
    display: flex;
    flex-direction: row;
}

.project-view-header, .task-view-header {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
}

.add-button {
    margin: 5px;
}

.project-view {
    margin: 5px 0px 5px 20px;
    width: 25%;
}

.task-view {
    flex: 1;
    margin: 5px 0px 5px 20px;
    width: 75%;
}

.task-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    margin: 2px 0px 2px 0px;
    font-weight: 100;
}

.project-placeholder {
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 80% 10% 10% 0%;
    overflow: hidden;
    transition: all 0.1s;
    height: auto;
    color: #444444;
    cursor: pointer;
}

.task-placeholder {
    padding: 5px 0px 5px 0px;
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 4% 90% 3% 3% 0%;
    transition: all 0.1s;
    overflow: hidden;
    height: auto;
}

.project-view-list, .task-view-list {
    font-family: Roboto;
}

.project-placeholder:hover {
    color:black;
    border-right: 1px solid #ccc;
}

.project-placeholder-active {
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 80% 10% 10% 0%;
    overflow: hidden;
    transition: all 0.1s;
    height: auto;
    cursor: pointer;
    color:black;
    border-right: 1px solid black;
    font-weight: bold;
}

.project-placeholder-edit {
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 70% 10% 0% 20%;
    transition: all 0.1s;
}

.project-edit, .task-edit {
    overflow: hidden;
}

.edit-delete-save {
    display: flex;
    flex-direction: row;
}

.add-project-form {
    width: auto;
}

.project-due {
    min-height: 1.2em;
    max-height: auto;
    display: flex;
    flex-direction: row;
}

.task-placeholder-edit {
    display: grid;
    grid-template-columns: 0% 91% 3% 0% 6%;
    transition: all 0.1s;
}

.task-name-due-notes {
    padding: 0px 10px 0px 0px;
}

.task-name-due {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-notes {
    max-height: 1.2em;
    overflow: hidden;
    font-style: italic;
    color: #444444;
    font-size: small;
}

.task-notes-expanded {
    max-height: auto;
    font-family: "Open Sans";
    font-size: small;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23E8EBF1FF' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 6px;
padding: 7px;
}

.task-status {
    overflow: hidden;
}

.modal {
    display: none;
    z-index: 1;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.about {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: Roboto;
}

.hide {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable] {
    outline: none;
}

select {
    background-color: #fdfdfd;
}

input[type=text], input[type=date], select {
    padding: 5px 0px 5px 2px
}

input, select {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23E8EBF1FF' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 6px;
}